<div id="container">
    <div>
        <h2>
            The light is a project made by Hadekha Erfadila Fitra, this blog project is made
            for educational purposes.
        </h2>
        <h2>
            This blog implements / uses:
            <ul>
                <li><h4>angular as typescript frontend framework</h4></li>
                <li><h4>golang as backend language</h4></li>
                <li><h4>postgres dbaas as database</h4></li>
                <li><h4>media management, draft management, article management, writer setting</h4></li>
                <li><h4>angular ngrx state management</h4></li>
                <li><h4>frontend caching management</h4></li>
                <li><h4>websocket for comment & media management (establish realtime comm)</h4></li>
            </ul>
        </h2>
    </div>
</div>