<div id="search-bar">
    <div id="search-field">
        <form>
            <div id="wrapper">
                <div id="sinput">
                    <mat-form-field>
                        <input matInput type="text" placeholder="search articles here...">
                    </mat-form-field>
                </div>
                <div id="sfilter">
                    <mat-form-field>
                        <mat-label>filter by</mat-label>
                        <mat-select value="title">
                            <mat-option value="title">title</mat-option>
                            <mat-option value="tag">tag</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>