<div id="menu">
    <img src="assets/menu.svg" style="cursor: pointer;" (click)="showHide()">
</div>
<div id="toggle" *ngIf="toggle">
    <div class="dropdown">
        <a routerLink='landing-page' (click)="showHide()">landing page</a>
    </div>
    <div class="dropdown">
        <a routerLink='search' (click)="showHide()">search</a>
    </div>
    <div class="dropdown">
        <a routerLink='admin' (click)="showHide()">admin</a>
    </div>
    <div class="dropdown">
        <a routerLink='about' (click)="showHide()">about the light</a>
    </div>
</div>