<mat-card>
    <mat-card-title>
        {{(articleasync | async)?.Title}}
    </mat-card-title>
    <mat-card-subtitle>
        {{(articleasync | async)?.Date}}
    </mat-card-subtitle>
    <div class="img-preview">
        <img [src]="(articleasync | async)?.ImageURL">
    </div>
    <mat-card-subtitle>
        {{(articleasync | async)?.Preview}}
    </mat-card-subtitle>
    <div class="tag">
        <a *ngFor="let t of (articleasync | async)?.Tag">{{t}}</a>
    </div>
    <mat-card-actions>
        <button mat-stroked-button (click)="readMore()">read more..</button>
    </mat-card-actions>
</mat-card>