#container {
    display: flex;
    justify-content: center;
}

#registerf {
    margin-top: 20vh;
}

#registerf input, #registerf button{
    display: block;
}

@media only screen and (max-width:900px){
    
    #registerf {
        margin-top:5vh;
    }
}

