#main-header {
    position: relative;
    width:100%;
    padding-top:30px;
    height:300px;
    background-color: wheat;
}

#logo{
    display: flex;
    justify-content: center;
}

#logo img {
    padding:10px;
    width:90px;
}

#title, #subtitle {
    text-align: center;
}