#title {
    width: 100%;
    background-color: wheat;
}


#grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#article-list {
    margin-top:25px;
}

#btn-group {
    margin-top:25px;   
}

#btn-group button{
    display: block;
    margin-left: 10px;
}

@media only screen and (max-width:900px) {
    #grid-view {
        grid-template-columns: 1fr;
    }
}