<div id="container">
    <div id="title">
        <h1>admin dashboard</h1>
    </div>
    <div class="btn-group">
        <h4>actions</h4>
        <button (click)="getArticles()" [disabled]="showArticles">list article</button>
        <a routerLink="../draft"><button>view all drafts</button></a>
        <a routerLink="../create-article"><button>create article</button></a>
        <a routerLink="../media" target="_blank"><button>manage media</button></a>
        <a routerLink="../settings"><button>settings</button></a>
        <button (click)="goLogout()">logout</button>
    </div>
    <div id="article-list" *ngIf="showArticles">
        <h4>article list</h4>
        <div id="grid-view">
            <app-article-item *ngFor="let article of articles | async" [article]="article"></app-article-item>
        </div>
        <app-paginator (pageEvent)="onPageEvent($event)"></app-paginator>
    </div>
</div>