<div id="container">
    <div id="title">
        <h1>edit article</h1>
    </div>
    <div id="input-group">
        <input placeholder="give a title...">
        <input placeholder="add an ImageURL...">
        <div id="peek">
            <img src="https://pbs.twimg.com/profile_images/1363210545118150659/Uo-XiGtv_400x400.jpg">
        </div>
        <button>peek</button>
        <input placeholder="add some tags...">
        <p>angular web developer programming</p>
        <button>add</button>
    </div>
    <div id="btn-group">
        <button>save</button>
        <button>publish</button>
        <button>delete</button>
        <button>preview</button>
    </div>
    <quill-editor></quill-editor>
</div>