#container {
    display: flex;
    justify-content: center;
}

#loginf {
    margin-top: 20vh;
}

#loginf input, #login button{
    display: block;
}

@media only screen and (max-width:900px){
    
    #loginf {
        margin-top:5vh;
    }
}

