<div id="container">
    <form [formGroup]="articleForm" (ngSubmit)="goPublish()">
    <div id="title">
        <h1>create article</h1>
    </div>
    <div id="input-group">
        <input placeholder="give a title..." formControlName="Title">
        <input placeholder="add an ImageURL..." formControlName="ImageURL">
        <div id="peek" *ngIf="ImageURL">
            <img [src]="ImageURL">
        </div>
        <button type="button" (click)="peek()">peek</button>
        <input placeholder="add some tags..." formControlName="addTag">
        <p>{{TagString}}</p>
        <button type="button" (click)="addTag()">add</button>
        <button type="button" (click)="removeTag()">remove</button>
    </div>
    <div id="btn-group">
        <button type="button">save</button>
        <button type="submit">publish</button>
        <button type="button">preview</button>
    </div>
    <quill-editor formControlName="Body"></quill-editor>
    </form>
</div>