#container {
    margin-top:55px;
    padding:19px;
    background-color: wheat;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#left {
    display: flex;
    justify-content: left;
}

#avatar {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

#avatar img {
    border-radius: 50%;
    overflow-y: hidden;
}

#bio {
    margin-left: 25px;
}