#container {
    border-top:1px solid black;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left:9px;
    padding-right: 9px;
}

#left {
    display: flex;
    justify-content: left;
}

#avatar {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}

#avatar img {
    border-radius: 50%;
    overflow-y: hidden;
}

#bio {
    margin-left: 25px;
}