<div id="container">
    <div id="title">
        <h1>
            {{article.Title}}
        </h1>
        <p>
            {{article.Date}}
        </p>
    </div>
    <div id="preview-image">
        <img [src]="article.ImageURL">
    </div>
    <div id="body">
        {{article.Body}}
    </div>
    <app-writer-info [writer]="article.WriterInfo"></app-writer-info>
    <div id="toggle" *ngIf="!isCommentLoaded">
        <button mat-flat-button (click)="showComments()">show comments...</button>
    </div>
    <div id="comment-sec" *ngIf="isCommentLoaded">
        <h4>comments</h4>
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </div>
</div>