<div id="container">
    <div id="title">
        <h1>
            {{article.Title}}
        </h1>
        <p>
            {{article.Date}}
        </p>
    </div>
    <div id="preview-image">
        <img [src]="article.ImageURL">
    </div>
    <div id="body">
        {{article.Body}}
    </div>
    <app-writer-info [writer]="article.WriterInfo"></app-writer-info>
    <div id="comment-sec">
        <app-comment *ngFor="let comment of article.Comment" [comment]="comment"></app-comment>
    </div>
</div>