<div id="container">
    <div id="title">
        <h1>
            {{(article | async)?.Title}}
        </h1>
        <p>
            {{(article | async)?.Date}}
        </p>
    </div>
    <div id="preview-image">
        <img [src]="(article | async)?.ImageURL" alt="(article | async)?.Title">
    </div>
    <div id="body" [innerHTML]="(article | async)?.Body"></div>
    <app-writer-info [writer]="(article | async)?.WriterInfo"></app-writer-info>
    <div id="toggle" *ngIf="!isCommentLoaded">
        <button mat-flat-button (click)="showComments()">show comments...</button>
    </div>
    <div id="comment-sec" *ngIf="isCommentLoaded">
        <app-comment *ngFor="let comment of comments | async" [comment]="comment"></app-comment>
        <h4>comments</h4>
        <form [formGroup]="commentForm" (ngSubmit)="goInsertComment()">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="Name">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="what do you think?.." formControlName="Text"></textarea>
            </mat-form-field>
            <button mat-flat-button type="submit" color="primary">send</button>
        </form>
    </div>
</div>